<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">TLCAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% if '/' == request.path %} active {% endif %}" href="/">首页</a>
            <a class="nav-item nav-link {% if 'analysis' in request.path %} active {% endif %}" href="/analysis/">数据分析</a>
            <a class="nav-item nav-link {% if 'prediction' in request.path %} active {% endif %}" href="/prediction/">内容预测</a>
            <a class="nav-item nav-link {% if 'help' in request.path %} active {% endif %}" href="/help/">帮助</a>
            <a class="nav-item nav-link {% if 'about' in request.path %} active {% endif %}" href="/about/">关于</a>
            <!-- 搜索栏 -->
            {% if searchword %}
            <form class="form-inline my-2 my-lg-0" role="search" method="get" action="{% url 'search' searchword 1 %}" target="_blank" style="margin-left: 10px;" >
                <div class="input-group" style="text-align:center; margin:0 auto;">
                    <input type="text" class="form-control" name="q" placeholder="{{searchword}}" style="border-radius:20px;width: 233px;">
                    <span class="input-group-btn"style="margin-left: 5px;">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </span>
                </div><!-- /input-group -->
            </form>
            {% else %}
            <form class="form-inline my-2 my-lg-0" role="search" method="get" action="{% url 'search' 'AI' 1 %}" target="_blank" style="margin-left: 10px;" >
                <div class="input-group" style="text-align:center; margin:0 auto;">
                    <input type="text" class="form-control" name="q" placeholder="{{searchword}}" style="border-radius:20px;width: 233px;">
                    <span class="input-group-btn"style="margin-left: 5px;">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </span>
                </div><!-- /input-group -->
            </form>
            {% endif %}
        </div>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item disabled">{{request.user.aliasname}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/profile/{{request.user.username}}/">个人主页</a>
                            <a class="dropdown-item" href="/profile/revise/">修改资料</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout/">登出</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                <a href="/login/" class="btn btn-outline-primary">登录</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>