<div class="container">
    <div class="row">
        <div class="col-12">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-md-4">
                        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13050302000293">
                            <img src="{% static 'oss/img/beian.png' %}"/>
                            <p style="display:inline;color:#939393;">
                                x公网安备 xxxxxxxxxxxxx号
                            </p>
                        </a>
                        <p class="d-block mb-3 text-muted">
                            ICP证：<a href="http://www.beian.miit.gov.cn">xICP备xxxxxxx</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <!--<h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Resource</a></li>
                            <li><a class="text-muted" href="#">Resource name</a></li>
                            <li><a class="text-muted" href="#">Another resource</a></li>
                            <li><a class="text-muted" href="#">Final resource</a></li>
                        </ul>-->
                    </div>
                    <div class="col-md-4">
                        <!--<h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Team</a></li>
                            <li><a class="text-muted" href="#">Locations</a></li>
                            <li><a class="text-muted" href="#">Privacy</a></li>
                            <li><a class="text-muted" href="#">Terms</a></li>
                        </ul>-->
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>