{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}

<!--
    THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/zh/editor.html?c=pie-borderRadius
-->
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
    </head>

<body style="height: 100%; margin: 0">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-5-6">
        <div style="font-size: 50px; color:#67cce6;">ICML热词分析</div>
        <div style="font-size: 25px;color:#1b1e2259;">
            根据已有的大量论文数据中分析会议热词
            <br>
            不同会议的分析结果相独立
        </div>
    </div>

    <div id="container" style="height: 100%"></div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <!-- Uncomment this line if you want to dataTool extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/dataTool.min.js"></script>
    -->
    <!-- Uncomment this line if you want to use gl extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    -->
    <!-- Uncomment this line if you want to echarts-stat extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
    -->
    <!-- Uncomment this line if you want to use map
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/world.js"></script>
    -->
    <!-- Uncomment these two lines if you want to use bmap extension
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=<Your Key Here>"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
    -->

    <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};

var dataName=['Monte Carlo Method',"Deep Learning","Generative Model","Stochastic Gradient Descent",'Reinforcement Learning','Machine Learning','Neural Network'];
var dataValue=[124, 136, 140, 223, 305, 374, 691];

option = {
    title: {
    },
    tooltip: {},
    legend: {
        data:['x']
    },
    
    grid: [
        {x: '15%', y: '8%', width: '70%', height: '78%'},
    ],
    xAxis: [
       { 
           type: 'value',
           boundaryGap: [0, 0.01]
       }
    ],
    yAxis: [
        {
            type: 'category',
            data: dataName
        }    
    ],
    series: [
        {
            name: '',
            type: 'bar',
            data: dataValue
        },
        {
            type: 'pie',
            data: [
                {value: dataValue[6], name: dataName[6]},
                {value: dataValue[5], name: dataName[5]},
                {value: dataValue[4], name: dataName[4]},
                {value: dataValue[3], name: dataName[3]},
                {value: dataValue[2], name: dataName[2]},
                {value: dataValue[1], name: dataName[1]},
                {value: dataValue[0], name: dataName[0]},
            ],
            radius:'45%',
            center:['70%','55%']  
        }
    ]
};

if (option && typeof option === 'object') {
myChart.setOption(option);
}

    </script>
</body>

{% endblock %}