{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}

<body>
    <br>
    <div class="pure-u-1-12"></div>
    <a style="color:#100e16;font-size:30px;text-align:center" href="{% url 'AAAI'%}" aria-hidden="true">AAAI</a>
    <br>
    <div class="pure-u-1-12"></div>
    <a style="color:#100e16;font-size:30px;text-align:center" href="{% url 'ACL'%}" aria-hidden="true">ACL</a>
    <br>
    <div class="pure-u-1-12"></div>
    <a style="color:#100e16;font-size:30px;text-align:center" href="{% url 'CVPR'%}" aria-hidden="true">CVPR</a>
    <br>
    <div class="pure-u-1-12"></div>
    <a style="color:#100e16;font-size:30px;text-align:center" href="{% url 'ICML'%}" aria-hidden="true">ICML</a>
    <br>
    <div class="pure-u-1-12"></div>
    <a style="color:#100e16;font-size:30px;text-align:center" href="{% url 'ICCV'%}" aria-hidden="true">ICCV</a>
    <br>
    <div class="pure-u-1-12"></div>
    <a style="color:#100e16;font-size:30px;text-align:center" href="{% url 'NIPS'%}" aria-hidden="true">NIPS</a>
    <br>
    <div class="pure-u-1-12"></div>
    <a style="color:#100e16;font-size:30px;text-align:center" href="{% url 'IJCAI'%}" aria-hidden="true">IJCAI</a>
</body>

{% endblock %}